:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --font: 1.3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img,
ion-icon {
  display: block;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grayish-blue);
  padding: 2rem;
}

.article-card {
  display: grid;
  grid-template-columns: 28.5rem minmax(30rem, 44.5rem);
  max-width: 72rem;
  border-radius: 1rem;
  box-shadow: 6px 10px 10px hsla(0, 0%, 0%, 0.05);
}

.img-box {
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.article-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

.article-content {
  background: var(--white);
  padding: 3.2rem 4rem;
  border-radius: 0 1rem 1rem 0;
}

.article-title {
  font-size: 2rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.article-text {
  color: var(--desaturated-dark-blue);
  font-size: var(--font);
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.acticle-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.author-name {
  color: var(--very-dark-grayish-blue);
  font-size: var(--font);
}

.publish-date {
  color: var(--grayish-blue);
  font-size: var(--font);
}

.share-content {
  position: relative;
}

.share-button {
  background: var(--light-grayish-blue);
  padding: 0.6rem;
  border-radius: 2rem;
  font-size: 2rem;
  color: var(--desaturated-dark-blue);
  transition: all 0.25s ease;
}

.share-button:hover,
.share-button.active {
  background: var(--desaturated-dark-blue);
  color: var(--light-grayish-blue);
}

.share-option {
  --scale: 0;
  --translateX: -50%;
  --translateY: 0;

  background: var(--very-dark-grayish-blue);
  position: absolute;
  left: 50%;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transform-origin: bottom;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.7rem 4rem;
  border-radius: 1rem;
  bottom: calc(100% + 2.8rem);
  box-shadow: 0 0.5rem 2rem -0.5rem black;
  transition: all 0.25s ease;
  visibility: hidden;
}

.share-option.active {
  --scale: 1;
  visibility: visible;
}

.share-option::after {
  content: "";
  background: var(--very-dark-grayish-blue);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

.share-option span {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--grayish-blue);
  margin-right: 0.5rem;
}

.share-option ion-icon {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  :root {
    --font: 1.2rem;
  }

  .article-card {
    grid-template-columns: 1fr;
    max-width: 29.4rem;
    overflow: hidden;
  }

  .img-box,
  .article-content {
    border-radius: 0;
  }

  .img-box {
    height: 18rem;
  }

  .article-content {
    padding: 3rem 2.8rem 2rem;
  }

  .article-title {
    font-size: 1.5rem;
  }

  .article-text {
    margin-bottom: 3rem;
  }

  .acticle-content-footer {
    position: relative;
  }

  .author-avater {
    width: 3.5rem;
    height: 3.5rem;
  }

  .share-content {
    position: static;
    z-index: 1;
  }

  .share-button {
    font-size: 1.6rem;
  }

  .share-option {
    --scale: 1;
    --translateX: 0;
    --translateY: 100%;

    inset: -2rem -2.8rem;
    border-radius: 0;
    padding: 1.7rem 3rem;
    z-index: -1;
  }

  .share-option.active {
    --translateY: 0;
  }
}
